<div class= "span8 offset3 boxy text-center">
	<h1 class="h1-custom"> Hi I'm Shaheen </h1>
	<br/>
	<h2>I am having tons of fun in firehose weekend. </h2>
	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>
</div>