
<% @pics.each do |pic| %>
	<div class= "span4 boxy text-center">
		<h1 class="h2-custom"> 
			Lesson: <%= pic.lesson %>
		</h1>
		<h2>
		Emotion: <%= pic.emotion %>
		<br/>
		Learned: <%= pic.learned %>
		<br/>
		<%= image_tag pic.image %>
		<br/>

		<i class="icon-refresh"></i>
		 <span class="label label-important">Important</span> 
	</h2>
	</div>
<% end %>
